.topbar{
    height: 60px;
    background-color: #134F5C;
    border-bottom: 1px solid #FFFFFF;
    color: white;
}

body{
    background-color: #FFFFFF;
}

.logo{
   
    margin-top: 10px ;
    margin-left: 20px ;
}

.toptext{
    padding-top: 100px ;
}
.gc{
    background-color: #1A232F !important;
    /* background-color: #08BD80 !important; */
    color:white ;
}
.unacadmy{
    background-color: #08BD80;
    color: white !important; 
    margin-top: 20px ;
}

.bs{
    box-shadow: 10px 10px 40px #E7E9EB;
}

.result-div{
    height: 80%;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

#loading{
    padding-top:100px ;
    display: none ;

}
#reset-btn{

       float: right;
}

.imgaboutus{
    width: 200px ;
    padding-left: 60px ;
}

.auhead{
    padding-left: 60px ;
  
}

.audes{
    text-align: center !important;
}
.footer{
    /* height: 270px ; */
    background-color: #1A232F;
    color:white ;
    /* margin-bottom: 0px ;  */
}